.filter {
  display: flex;
  align-items: center;
  gap: 16px;
}

.item {
  display: flex;
   align-items: center;
  gap: 10px;
  min-width: 250px;
}

@media (max-width: 768px) {
  .filter {
    flex-wrap: wrap;
  }
}