:root {
--color-background-header: #3F51B5;
--color-background-main: #F5F5F5;
--color-background-footer: #000;

--color-text-main: #000;
--color-text-footer: #BDBDBD;

--gradient-text-header: linear-gradient(45deg,#F56400, #FF00A5);

--height-header: 80px;
--height-footer: 60px;
}