@import 'src/styles/font';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--height-footer);
  @include footer-text;
  background-color: var(--color-background-footer);
  transform: rotate(0deg);

  &:hover {
    span {
      transition: transform 1.5s ease;
      transform: rotateY(360deg);
    }
    
  }
}